{% extends 'layout.html' %}

{% block body %}

<div style="background-color:#1e272e !important" class="jumbotron text-center">
    <h1 style="color:#ffda79" >About OurStaff</h1>
    <p style="color:#ffda79">OurStaff is an application to maintain the employee data such as name, age, contact, address, photo,
        certificates, skill-set etc. Currently no security methods have been implemented. Soon we are going to
        have Login and Register feature for HR related department </p>
</div>

{% endblock %}